/*=====Content=====*/
.content{
	flex: 1;
	padding: 20px 30px 20px 0;
}
.side-nav{
	margin-right: 30px;
}
/*=====Slider new arrival=====*/
.slider-new-wrap{
	margin-bottom: 30px;
}
.slider-new{
	flex-wrap: nowrap;
}
.slider-new .slider-new-item a{
	display: inline-block;
	width: 100%;
	position: relative;
	transition: 0.3s ease;
}
.slider-new .slider-new-item a img{
	width: 100%;
}
.product-details{
	color: #fff;
	position: absolute;
	top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    display: flex;
   	background-color: rgba(7, 3, 7, 0.5);
   	padding: 3px;
   	box-sizing: border-box;
   	transition: all 0.3s ease;
}
.slider-new-item:hover .product-details{
	opacity: 1;
}
/*=====Ranking=====*/
.ranking-content{
	margin-right: -6px;
}
.ranking-item{
	margin: 0 0 -1px -1px;
	box-sizing: border-box;
	position: relative;
}
.ranking-item .number{
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 25px;
	font-weight: bold;
}
